### Load lib

In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import f1_score
from fuzzywuzzy import fuzz

C:\Users\mogil\AppData\Roaming\Python\Python39\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

### Check data

In [2]:
data = pd.read_csv('../data/data_v2_10_oct.csv')

In [3]:
data.is_duplicate.value_counts(dropna=False)

0    494161
1      3658
Name: is_duplicate, dtype: int64

In [4]:
data.dropna(inplace=True)

In [5]:
data.head()

,Unnamed: 0,pair_id,name_1,name_2,is_duplicate,name_1_upd,name_2_upd
0,0,1,Iko Industries Ltd.,"Enormous Industrial Trade Pvt., Ltd.",0,Iko,Enormous Trade
1,1,2,Apcotex Industries Ltd.,Technocraft Industries (India) Ltd.,0,Apcotex,Technocraft India
2,2,3,"Rishichem Distributors Pvt., Ltd.",Dsa,0,Rishichem Distributors,Dsa
3,3,4,Powermax Rubber Factory,Co. One,0,Powermax Factory,One
4,4,5,Tress A/S,Longyou Industries Park Zhejiang,0,Tress,Longyou Park Zhejiang

In [6]:
data_update = data[['name_1', 'name_1_upd']]

In [7]:
data_update.shape

(492930, 2)

In [8]:
data_base = data_update.drop_duplicates().reset_index()

In [9]:
data_base.shape

(17643, 3)

In [10]:
data_base.to_csv('data_base.csv', index=False)

In [11]:
data_base.head()

   index                             name_1              name_1_upd
0      0                Iko Industries Ltd.                     Iko
1      1            Apcotex Industries Ltd.                 Apcotex
2      2  Rishichem Distributors Pvt., Ltd.  Rishichem Distributors
3      3            Powermax Rubber Factory        Powermax Factory
4      4                          Tress A/S                   Tress

In [12]:
new_company = 'Iko Trexx'

In [43]:
data_base['fuzz'] = data_base.apply(lambda x: fuzz.partial_ratio(x.name_1_upd, new_company), axis=1)

In [44]:
k = 7

In [49]:
df_company = data_base.sort_values('fuzz', ascending=False)[["name_1", 'fuzz']][:k]

In [50]:
list_company = []

for i, row in df_company.iterrows():
    list_company.append([row["name_1"], row['fuzz'] / 100])

In [51]:
list_company

[['Iko Industries Ltd.', 1.0],
 ['Trex Co. Inc.', 1.0],
 ['S I De Mexico Sa Cv', 1.0],
 ['K Tex, Llc', 0.8],
 ['True Industrial Co., Ltd.', 0.75],
 ['Jk Tyre & Industries', 0.71],
 ['Jk Tyre Industries Ltd.', 0.71]]