### Load lib

In [2]:
import pandas as pd
import numpy as np

from sklearn.metrics import f1_score
from fuzzywuzzy import fuzz

C:\Users\mogil\AppData\Roaming\Python\Python39\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

### Check data

In [3]:
data = pd.read_csv('../data/data_v2_19_oct.csv')

In [4]:
data.head()

,Unnamed: 0,pair_id,name_1,name_2,is_duplicate,name_1_upd,name_2_upd
0,0,1,Iko Industries Ltd.,"Enormous Industrial Trade Pvt., Ltd.",0,Iko,Enormous Trade
1,1,2,Apcotex Industries Ltd.,Technocraft Industries (India) Ltd.,0,Apcotex,Technocraft India
2,2,3,"Rishichem Distributors Pvt., Ltd.",Dsa,0,Rishichem Distributors,Dsa
3,3,4,Powermax Rubber Factory,Co. One,0,Powermax Factory,One
4,4,5,Tress A/S,Longyou Industries Park Zhejiang,0,Tress,Longyou Park Zhejiang

### Create fuzzywuzzy model with transform_data

In [7]:
data['fuzz'] = data.apply(lambda x: fuzz.partial_ratio(x.name_1_upd, x.name_2_upd), axis=1)

In [8]:
print('PARTIAL_RATIO')
for i in np.arange(50, 101, 1):
  print(f'{i} - {f1_score(data.is_duplicate, (data.fuzz > i).astype(int))}')

PARTIAL_RATIO
50 - 0.03380944268277268
51 - 0.03383361473016152
52 - 0.033734061125720985
53 - 0.033962116599543075
54 - 0.034110532977077765
55 - 0.034533410302867495
56 - 0.035064980971120874
57 - 0.03614207743684294
58 - 0.03636972787849459
59 - 0.036392006845522726
60 - 0.03773784285365193
61 - 0.03799296575150113
62 - 0.03801318142907848
63 - 0.03823186410195164
64 - 0.03801423738066676
65 - 0.038536588985094336
66 - 0.03852067533740872
67 - 0.06696396970340482
68 - 0.06717925611546342
69 - 0.07038160423051881
70 - 0.07282264382301849
71 - 0.0826485935344569
72 - 0.08418261662109537
73 - 0.09108203414996288
74 - 0.09346603202077024
75 - 0.1216
76 - 0.12625464171476894
77 - 0.12977346278317153
78 - 0.13841135502071764
79 - 0.15138282387190685
80 - 0.18594390167034353
81 - 0.19396433470507546
82 - 0.21008722032612817
83 - 0.22741134442798638
84 - 0.23422613697645153
85 - 0.24539524174980815
86 - 0.2621459582385776
87 - 0.26696687037632677
88 - 0.2827033218785796
89 - 0.28544198236835827
90 - 0.28965685675906705
91 - 0.29277377700521473
92 - 0.29988346497475077
93 - 0.3020204670690108
94 - 0.2971428571428571
95 - 0.2962962962962963
96 - 0.29583110636023513
97 - 0.2958405777718336
98 - 0.29538461538461536
99 - 0.29538461538461536
100 - 0.0

### Check new_company in data

In [24]:
data_base  = pd.read_csv("data_base.csv")

In [33]:
new_company = 'Boston stone'

In [34]:
data_base['fuzz_new'] = data_base.apply(lambda x: fuzz.partial_ratio(x.name_1_upd, new_company), axis=1)

In [35]:
k = 7

In [36]:
df_company = data_base.sort_values('fuzz_new', ascending=False)[["name_1", 'fuzz_new']][:k]

In [37]:
list_company = []

for i, row in df_company.iterrows():
    list_company.append([row["name_1"], row['fuzz_new'] / 100])

In [38]:
list_company

[['Bobst India Pvt., Ltd.', 0.8],
 ['Boast Inc.', 0.8],
 ['Beijing Boston Battery Technology Co., Ltd.', 0.75],
 ['Best Rubber Corporation', 0.75],
 ['Boes Inc.', 0.75],
 ['Bose Sa De Cv', 0.75],
 ['Bostik India Private Ltd.', 0.67]]